@import url("https://use.typekit.net/wdb7vcj.css");
@import "tailwindcss";
@plugin '@tailwindcss/forms';

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton-svelte";
@import "@skeletonlabs/skeleton/themes/cerberus";

@custom-variant dark (&:where(.dark, .dark *));

/* Temporary fix for windows, will be applied automatically in Skeleton V5 */
.select,
.input,
.textarea,
.ig-input,
.ig-select {
  background-color: var(--color-surface-50-950);
  color: var(--color-surface-950-50);
}
